<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ch.almana.android.stechkarte"
      android:versionName="0.9.9" android:versionCode="13">
    <application android:icon="@drawable/stechkarte" android:allowClearUserData="true" android:allowBackup="true" android:name=".application.StechkarteApplication" android:label="@string/app_name">
        <activity android:label="@string/app_name" android:name=".view.CheckinActivity" android:screenOrientation="portrait">
            <intent-filter><action android:name="ch.almana.android.stechkarte.actions.timestampIn"></action>
<category android:name="android.intent.category.DEFAULT"></category>
</intent-filter><intent-filter><category android:name="android.intent.category.DEFAULT"></category><action android:name="ch.almana.android.stechkarte.actions.timestampOut"></action>
</intent-filter><intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        <intent-filter><category android:name="android.intent.category.DEFAULT"></category><action android:name="ch.almana.android.stechkarte.actions.timestampToggle"></action>
</intent-filter>
</activity>

    <activity android:name=".view.ListTimeStamps"><intent-filter>


<data android:mimeType="vnd.android.cursor.dir/ch.almana.android.stechkarte"></data>
<action android:name="android.intent.action.VIEW"></action>
<action android:name="android.intent.action.PICK"></action>
<action android:name="android.intent.action.EDIT"></action>
</intent-filter>
</activity>
<provider android:authorities="ch.almana.android.stechkarte" android:name=".provider.StechkarteProvider"></provider>
<activity android:name=".view.TimestampEditor" android:screenOrientation="portrait"><activity android:name=".view.TimestampEditor"><intent-filter><data android:mimeType="vnd.android.cursor.dir/ch.almana.android.stechkarte.timestamp"></data>
<action android:name="android.intent.action.INSERT"></action>
<category android:name="android.intent.category.DEFAULT"></category>
</intent-filter>
<intent-filter><action android:name="android.intent.action.EDIT"></action><data android:mimeType="vnd.android.cursor.item/ch.almana.android.stechkarte.timestamp"></data><category android:name="android.intent.category.DEFAULT"></category>
</intent-filter>
</activity><intent-filter><data android:mimeType="vnd.android.cursor.dir/ch.almana.android.stechkarte.timestamp"></data>
<action android:name="android.intent.action.INSERT"></action>
<category android:name="android.intent.category.DEFAULT"></category>
</intent-filter>
<intent-filter><action android:name="android.intent.action.EDIT"></action><data android:mimeType="vnd.android.cursor.item/ch.almana.android.stechkarte.timestamp"></data><category android:name="android.intent.category.DEFAULT"></category>
</intent-filter>
</activity>
<activity android:name=".view.ListDays" android:screenOrientation="portrait"><intent-filter>


<data android:mimeType="vnd.android.cursor.dir/ch.almana.android.stechkarte"></data>
<action android:name="android.intent.action.VIEW"></action>
<action android:name="android.intent.action.PICK"></action>
<action android:name="android.intent.action.EDIT"></action>
</intent-filter></activity>
<activity android:name=".view.DayEditor" android:screenOrientation="portrait"><intent-filter><action android:name="android.intent.action.EDIT"></action><data android:mimeType="vnd.android.cursor.item/ch.almana.android.stechkarte.day"></data><category android:name="android.intent.category.DEFAULT"></category>
</intent-filter><intent-filter><data android:mimeType="vnd.android.cursor.dir/ch.almana.android.stechkarte.day"></data>
<action android:name="android.intent.action.INSERT"></action>
<category android:name="android.intent.category.DEFAULT"></category>
</intent-filter></activity>
<activity android:name=".view.ExportTimestamps"></activity>

<activity android:name=".view.StechkartePreferenceActivity"></activity>
<activity android:name=".view.BuyFullVersion" android:theme="@android:style/Theme.Dialog"></activity>

<activity android:name=".service.LocationCheckAction"><intent-filter>
</intent-filter>
</activity>
<receiver android:name=".view.appwidget.StechkarteAppwidget"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
<category android:name="android.intent.category.DEFAULT"></category>
</intent-filter><meta-data
				android:name="android.appwidget.provider" android:resource="@xml/appwidget_provider_clockcard"></meta-data>
</receiver>
<service android:name=".view.appwidget.StechkarteAppwidget$UpdateAppWidgetService"></service>
</application>
    <uses-sdk android:minSdkVersion="3" />





</manifest> 